<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>show all word</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/main.css' %}" />
	</head>
		<body>
			<div class="header">
				<h1>All Word Bank</h1>	
			</div><br>		
				{% if all_word_list %}
    				{% for word in all_word_list %}
        				<a href="{% url 'wordbank:details' word.id %}"> {{ word.word_text }}</a>
    				{% endfor %}
				{% else %}
	    			<p>No word are available.</p>
				{% endif %}
				<hr size="30">
				<a   href="{% url 'wordbank:home_page' %}" class="btn btn-info" >Back</a>
		</body>
</html>
	
				
			