<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />
		<title>Welcome to wordbank</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/css/bootstrap.min.css' %}">
	</head>
		<body>
		<div class="header">
			<h1>Add new Word</h1>
		</div>
		
		<div class="section">
				<form action="{% url 'wordbank:already_word' %}" method="POST">
				{% csrf_token %}	
					 <input type="text" name="add_word" placeholder="Word..."><br/>
					 <input type="text" name="add_type" placeholder="Type..."><br/>
					 <input type="text" name="add_mean"  placeholder="Meanning..."><br/>
					 <input type="text" name="add_sentence"  placeholder="example sentence..."><br/>
					 <input class="btn btn-success" type="submit" name= "submit" value="submit" />
					</form>
					<p>Error! : {{already}}</p>
					<hr size="30">
						<a href="/" class="btn btn-info" > back</a>	
				</div>
			
		</body>
</html>

