<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />
		<title>Welcome to wordbank</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/css/bootstrap.min.css' %}">
	</head>
		
			
		<body>
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
				<div class="header">
					<h1>{{ word.word_text }}</h1>
				</div>
				<div class="panel panel-default">
				  		<table class="table table table-bordered " >
				    		<tr class="info" >			
								<td width="10%" ><b><center> type</center> </b></td>
								<td width="30%"><b><center> meaning</center></b></td>
								<td width="30%" ><b><center> sentence</center></b></td> 
							</tr>
				  		</table>
				   {% for detail in word.detail_set.all %}
							<table  class="table  table-bordered table-hover" >
								<tr class="active table-hover">
									<td width="10%">  {{ detail.type_text }}</td>
		    						<td width="30%">{{ detail.mean_text }}</td>
		    						<td width="30%"> {{ detail.sentence_text }}</td>
		    					</tr>
	    				</table>
					{% endfor %}
				</div>
				<script src="{% static 'wordbank/js/jquery.min.js' %}"></script>
    			<!-- Include all compiled plugins (below), or include individual files as needed -->
    			<script src="{% static 'wordbank/js/bootstrap.min.js' %}"></script>
			
		</body>
			<a   href="{% url 'wordbank:latest_word' %}" class="btn btn-info" >Back</a>
</html>


