

<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Welcome to wordbank</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/css/bootstrap.min.css' %}">
	</head>
		<body>
			<div class="header">
				<h1>Word Bank</h1>
			</div>
			<div>

				<form class="form-inline center " id="brn" action="{% url 'wordbank:search_into_word'%}" method="POST">
						{% csrf_token %}
						<!-- <label> Search Word</label> -->

						<input class="form-control" type="text" name="search_into_word" size="40" placeholder="search word">


						<input class="btn btn-info" type="submit" value="Search">
						<br><br><br>
						<p >{{not_found}}</p>
						<h1><p> Try Again</p></h1>
				</form>

			</div>

				<script src="{% static 'wordbank/js/jquery.min.js' %}"></script>
    			<!-- Include all compiled plugins (below), or include individual files as needed -->
    			<script src="{% static 'wordbank/js/bootstrap.min.js' %}"></script>
			
		</body>
<html>

