

<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Welcome to wordbank</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/css/bootstrap.min.css' %}">
	</head>
		<body>
			<div class="header">
				<h1>Word Bank</h1>
			</div>
			<div>
				<form class="form-inline center " id="brn" action="{% url 'wordbank:search_into_word'%}" method="POST">
						{% csrf_token %}
						<!-- <label> Search Word</label> -->
						<input class="form-control" type="text" name="search_into_word" size="40" placeholder="search word">
						<input class="btn btn-info" type="submit" value="Search">
				</form>
			</div>

			<br><br><br>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<div class="btn-group "  role="group">	
					
					<a   class="btn btn-info" href="/admin/">admin</a>
					<a   class="btn btn-info" href="{% url 'wordbank:all_word' %}">all word</a>
					<a   class="btn btn-info" href="{% url 'wordbank:add_new_word' %}">add word</a>
					<a   class="btn btn-info" href="{% url 'wordbank:latest_word' %}">latest word</a>

				</div>
					</div>
					<div class="col-md-4"></div>
				</div>
				

				<script src="{% static 'wordbank/js/jquery.min.js' %}"></script>
    			<!-- Include all compiled plugins (below), or include individual files as needed -->
    			<script src="{% static 'wordbank/js/bootstrap.min.js' %}"></script>
			
		</body>
<html>


