<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />
		<title>Welcome to wordbank</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/css/bootstrap.min.css' %}">
	</head>
		<body>
			<div class="header">
				<h1>Latest Word</h1>
			</div>
			<ul>
				{% if latest_word_list %}
    				{% for word in latest_word_list %}	
       					<li><h1><a href="{% url 'wordbank:details' word.id %}">{{ word.word_text }}</a></h1></li>
       				{% endfor %}
				{% else %}
    			<p>No word are available.</p>
				{% endif %}
				
				</ul>
				<hr size="30">
				<a href="/" class="btn btn-info"   >back</a>
			
				
		</body>
</html>
