<!DOCTYPE html>
<html>
	<head>
        <title>Search Result</title>
        {% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/main.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'wordbank/css/bootstrap.min.css' %}">
	</head>
	<meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″>
		<body>
			<div class="header">
				<h1>{{ word.word_text }}{{not_found}}</h1>
			</div>
			
				{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		
			<div class="panel panel-default">
				  		<table class="table table table-bordered " >
				    		<tr class="info" >			
								<td width="10%" ><b><center> type</center> </b></td>
								<td width="30%"><b><center> meaning</center></b></td>
								<td width="30%" ><b><center> sentence</center></b></td> 
							</tr>
				  		</table>
				   {% for detail in word.detail_set.all %}
							<table  class="table  table-bordered table-hover" >
								<tr class="active table-hover">
									<td width="10%">  {{ detail.type_text }}</td>
		    						<td width="30%">{{ detail.mean_text }}</td>
		    						<td width="30%"> {{ detail.sentence_text }}</td>
		    					</tr>
	    				</table>
					{% endfor %}
				</div>	
			
				<hr size="30">
				<a href="{% url 'wordbank:home_page'  %}" class="btn btn-info"  >back</a>
		</body>
</html>


